.page-section {
	padding: 1.5rem 0;

	@mixin atSmall {
		padding: 4.5rem 0;
	}

	&--blue {
		background-color: $mainBlue;
		color: #FFF;
	}

	&--testimonials {
		background-color: #E0E6EF;

		@mixin atLarge {
			background: url("/assets/img/testimonials-bg.jpg") top center no-repeat;
			background-size: cover;
		}
	}

	&--no-b-padding-until-large {
		padding-bottom: 0;

		@mixin atLarge {
			padding-bottom: 4.5rem;
		}
	}
}